@charset 'UTF-8';

/* Favorite Font Families */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */
/* font-family: Tahoma, Verdana, sans-serif; */

body{
    font-family: 'Ubuntu', sans-serif;
}


/* -------------------------------- */
/* Style Top Navbar ----------------*/
/* -------------------------------- */
.nbs-navbar{
    background: rgba(70, 70, 70, 0.2); 
    backdrop-filter: blur(8px);
    border-bottom: 2px solid #c4c5ca;
}

.nbs-navbar-brand{
    color:white;
    font-weight: bolder;
    font-size:3rem;
    transition:0.5s;
}

.nbs-navbar-brand:hover{
    font-size:3.5rem;
    transition:0.5s;
}

.nav-item{
    margin: auto 0.5rem;
}

.nav-link{
    color:white;
    font-weight: 300;
    font-size: 1.2rem;
    transition:0.5s;
}

.nav-link:hover{
    font-size: 1.5rem;
    transition:0.5s;
}

/* -------------------------------- */
/* Style Header section ------------*/
/* -------------------------------- */
.nbs-header{
    color: white;
    align-items: center;
    justify-content:center;
    background-image: url(images/header-lensblur.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.nbs-header-content{
    position: absolute;
    top: 30%;
    bottom: 40%;
}

.nbs-header-content-name{
    text-align: center;
    font-size: 6vw;
    line-height: 1,5;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.nbs-header-content-job{
    white-space: nowrap;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    margin:auto 0;
}


.nbs-header-content-job-btn{
    width:80%;
    margin:8px auto;
}

/* -------------------------------- */
/* Style all sections except header */
/* -------------------------------- */
.nbs-section{
    padding: 7% 10%;
}

.nbs-section:nth-of-type(2n+1) {
    background-color: #f0f1f3;
    /* #b0baf0; */
}


/* -------------------------------- */
/* Style Intro section -------------*/
/* -------------------------------- */

.nbs-intro-content-ul{
    list-style-type: circle;
}


.nbs-intro-content-pic{
    border-radius: 20%;
    width: 80%;
    margin:15% auto;
}


/* -------------------------------- */
/* Style Education section ---------*/
/* -------------------------------- */

.nbs-educ-title{
    padding-bottom: 5%;
    text-align: right;
}

.nbs-educ a{
    text-decoration: none;
    color: inherit;
}

.nbs-educ-content-card{
    margin-bottom: 10px;
}

.nbs-educ-content-card-text{
    margin-bottom: 0;
}

.nbs-educ-content-card-child{
    height: 100%;
}

.nbs-educ-content-card-child:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

/* -------------------------------- */
/* Style Skills section ------------*/
/* -------------------------------- */

.nbs-skills-title{
    padding-bottom: 5%;
}

.nbs-skills-content-card{
    display:inline-block;
    margin:5% auto;
    position:relative;
    width:250px;
    display:flex;
    justify-content:center;
    align-items:center;
    height:300px;
    border-radius:4px;
    text-align:center;
    overflow:hidden;
    transition:0.5s;
}


.nbs-skills-content-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,.5);
}

.nbs-skills-content-card::before{
    content:'';
    position:absolute;
    top:0;
    left:-50%;
    width:100%;
    height:100%;
    background:rgba(255,255,255,.03);
    pointer-events:none;
    z-index:1;
  }


.nbs-skills-content-card-percent {
    position:relative;
    width:150px;
    height:150px;
    border-radius:50%;
    z-index:1000;
  }

.nbs-skills-content-card-percent svg{
    margin:0 auto;
    justify-content: center;
    align-items: center;
    position:absolute
}

.nbs-skills-content-card-percent svg circle{
    width: 300px;
    position:relative;
    left:2%;
}

.nbs-skills-content-card-num{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
}

.nbs-skills-content-card-num h2 {
    color:#111;
    font-weight:700;
    font-size:40px;
    transition:0.5s;
  }

.nbs-skills-content-card:hover .nbs-skills-content-card-num h2{
    color:#111;
    font-size:60px;
  }


.nbs-skills-content-card-num h2 span {
    color:#111;
    font-size:24px;
    transition:0.5s;
  }


.nbs-skills-content-card:hover .nbs-skills-content-card-percent .nbs-skills-content-card-num h2{
    color:#111;
}

.nbs-skills-content-card:hover .nbs-skills-content-card-percent .nbs-skills-content-card-num h2 span {
    color:#111;
  }

.nbs-skills-content-card-text{
    position:relative;
    color:#777;
    margin-top:20px;
    font-weight:700;
    font-size:18px;
    letter-spacing:1px;
    text-transform:uppercase;
    transition:0.5s;
  }


.nbs-skills-content-card:hover .nbs-skills-content-card-text{
    color:#111;
  }


.nbs-skills-content-card-percent svg{  
    position:relative;
    width:150px;
    height:150px;
    z-index:1000;
}

.nbs-skills-content-card-percent svg circle{
    width:100%;
    height:100%;
    fill:none;
    stroke:white;
    stroke-width:10;
    stroke-linecap:round;
    transform:translate(5px,5px);
}


.nbs-skills-content-card-percent svg circle:nth-child(2)
{
  stroke-dasharray:440;
  stroke-dashoffset:440;
}

.nbs-skills-content-card:nth-child(1) .nbs-skills-content-card-percent svg circle:nth-child(2)
{
  stroke-dashoffset:calc(440 - (440 * 90) / 100);
  stroke:#00ff43;
}


